body {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}
#titles {
    text-align: center;
    margin-right: 10em;
    margin-bottom: -2em;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#eraser {
    text-align: right;
    margin-top: 3em;
    margin-right: 10em;
}
#eraseButton {
    font: sans-serif;
    width: 5em;
    height: 3em;
    color: white;
    background-color: #2a6592;
    outline: none;
    border-color: rgb(90, 90, 90);
    opacity: 75%;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#container {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin-top: 2em;
    margin-bottom: 2em;
    width: 450px;
    height: 450px;
    position: absolute;
}
  
.gridItem {
    border: 0.01px solid rgb(31, 30, 30);
    text-align: center;
    background-color: white;
}
.gridItem:hover {
    background-color: cyan;
}
.lightness {
    background-color: hsl(0, 0%, 100%)
}