body {
    margin-right: auto;
    margin-left: auto;
    width: 600px;

}
#container {
    font-size: 1em;
    text-align: center;
}
#row {
    font-size: 0;
}

#box {
    background-color: white;
    border: rgb(0, 0, 0);
    border-style: solid;
    display: inline-block;
    font-size: 1rem;
    border-width: 0.01em;
    height: 2em;
    width: 2em;
}